.meals{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
.names{
    text-transform: uppercase;
    font-weight: bold;
}
.desc{
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
.pri{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 5px;
    color: #A1662F;
}