.form{
    text-align: center;
}
.form button{  
    width: 100%;
    border-radius:20px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #8a2b06;

}
button:hover , button:active{
    background-color: #641e03;
    border-color: #641e03;
}