.meals{
    max-width: 60rem;
    width: 90%;
    margin: 10px auto;
    animation: fadeIn 2s ease-in forwards;
}

ul{
    list-style: none;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}