.main{
    position: relative;
    text-align: center;
    max-width: 45rem;
    margin: auto;
    margin-top:-10rem;
    background-color: #4f4949;
    padding: 5px;
    text-transform: capitalize;
    color: white;
    border-radius: 14px;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}