.input{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.input label{
    font-weight: bold;
    margin-right: 1rem;
}
.input input{
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: .5rem;
    text-align: center;
}